* {
  box-sizing: border-box;
  font-size: inherit;
  margin: 0;
}

body {
  font-size: 2rem;
}

button {
  flex-shrink: 0;
  margin-bottom: 1rem;
}

input {
  flex-shrink: 0;
  margin-bottom: 1rem;
}

input[type="file"] {
  display: none;
}

p {
  margin-bottom: 1rem;
}

.page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;
}

.button-group {
  display: flex;
}

.button-group button {
  flex-grow: 1;
}

.meme {
  flex-grow: 1;
  margin-bottom: 1rem;
  overflow: hidden;
}

.meme .vertical-aligner {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.meme .vertical-bounder {
  max-height: 100%;
  position: relative;
}

.meme .vertically-bounded-image {
  max-height: 100%;
  vertical-align: middle;
  visibility: hidden;
  width: 100%;
}

.meme .vertically-bounded-container {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.meme .horizontal-aligner {
  display: flex;
  height: 100%;
  justify-content: center;
}

.meme .horizontal-bounder {
  height: 100%;
  max-width: 100%;
  position: relative;
}

.meme .horizontally-bounded-image {
  visibility: hidden;
  height: 100%;
  max-width: 100%;
}

.meme .horizontally-bounded-container {
  container-type: size;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.meme .fully-bounded-image {
  height: 100%;
  width: 100%;
}

.meme p {
  color: white;
  font-family: Impact;
  font-size: 10cqh;
  margin: 0;
  padding: 0 1cqw;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 3px black;
  text-transform: uppercase;
  width: 100%;
  word-break: break-word;
}

.meme p.top-text {
  top: 0;
}

.meme p.bottom-text {
  bottom: 0;
}
