@import "client/views/caption-image.css";
@import "client/views/meme.css";
@import "client/views/reveal-memes.css";
@import "client/views/select-image.css";

* {
  box-sizing: border-box;
  font-size: inherit;
  margin: 0;
}

body {
  font-size: 2rem;
}

button {
  flex-shrink: 0;
  margin-bottom: 1rem;
}

input {
  flex-shrink: 0;
  margin-bottom: 1rem;
}

input[type="file"] {
  display: none;
}

p {
  margin-bottom: 1rem;
}

.page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;
}
