.meme {
  height: 100%;
  width: 100%;
}

.meme .vertical-aligner {
  /* border: solid green 2px; */
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.meme .vertical-bounder {
  /* border: solid blue 2px; */
  max-height: 100%;
  position: relative;
}

.meme .vertically-bounded-image {
  max-height: 100%;
  /* todo: check if this does anything */
  vertical-align: middle;
  visibility: hidden;
  width: 100%;
}

.meme .vertically-bounded-container {
  /* border: solid red 2px; */
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.meme .horizontal-aligner {
  /* border: solid green 2px; */
  display: flex;
  height: 100%;
  justify-content: center;
}

.meme .horizontal-bounder {
  /* border: solid blue 2px; */
  height: 100%;
  max-width: 100%;
  position: relative;
}

.meme .horizontally-bounded-image {
  height: 100%;
  max-width: 100%;
}

.meme .horizontally-bounded-container {
  /* border: solid red 2px; */
  container-type: size;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.meme p {
  color: white;
  font-family: Impact;
  font-size: 10cqh;
  margin: 0;
  /* todo: test this with auto-scaling container */
  padding: 0 1cqw;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 3px black;
  text-transform: uppercase;
  width: 100%;
  word-break: break-word;
}

.meme p:first-child {
  top: 0;
}

.meme p:last-child {
  bottom: 0;
}
