.meme {
  container-type: size;
  height: 100%;
  width: 100%;
}

.meme .height-bounding-container {
  container-type: size;
  height: min(100%, 100cqh);
  position: absolute;
  width: 100%;
}

.meme .width-bounding-container {
  display: inline-flex;
  height: 100%;
  flex-direction: row;
  position: relative;
}

.meme .caption {
  container-type: size;
  height: 100%;
  position: absolute;
  width: 100%;
}

.meme .caption p {
  color: white;
  font-family: Impact;
  font-size: 10cqh;
  margin: 0;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 3px black;
  text-transform: uppercase;
  width: 100%;
  word-break: break-word;
}

.meme .caption p:first-child {
  top: 0;
}

.meme .caption p:last-child {
  bottom: 0;
}
