.reveal-memes {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0;
}

.reveal-memes .meme {
  flex-grow: 1;
  margin-bottom: 1rem;
  overflow: hidden;
}

.reveal-memes .navigation-controls {
  display: flex;
}

.reveal-memes .navigation-controls button {
  flex-grow: 1;
}
