.select-image {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;
}

.select-image input[type="file"] {
  display: none;
}

.select-image input,
.select-image button {
  flex-shrink: 0;
}

.select-image .preview {
  flex-grow: 1;
  margin-bottom: 1rem;
  overflow: hidden;
}
